<section class="about-us">
  <div class="container">
    <h2 class="about-us-title">НАШИ ПРЕИМУЩЕСТВА</h2>
    <div class="about-us-container">
      <img
        srcset="
          ./img/aqualung.jpg    288w,
          ./img/aqualung@2x.jpg 576w,
          ./img/aqualung.jpg    356w,
          ./img/aqualung@2x.jpg 712w,
          ./img/aqualung.jpg    360w,
          ./img/aqualung@2x.jpg 720w
        "
        sizes="(min-width: 1280px) 360px, (min-width: 768px) 356px, (max-width: 767px) 288px "
        src="./img/aqualung.jpg"
        alt="aqualung"
      />
      <p class="scrollable-text">
        Очень долго подбирали разные варианты для того, чтобы отпраздновать свой
        юбилейный День рождения в путешествии и не могли определиться... Решили
        обратиться за помощью в турагенство. Гульнара, выслушав все пожелания,
        предложила отдых в Турции, отель Justiniano Club Park Conti 5* в
        Окурджалар возле Аланьи. Мы очень благодарны ей за предложенный
        вариант!!!! Отдых получился отличный! Отель с большой ухоженной
        территорией, внимательный обслуживающий персонал. Отличный номер с видом
        на море. Очень долго подбирали разные варианты для того, чтобы
        отпраздновать свой юбилейный День рождения в путешествии и не могли
        определиться... Решили обратиться за помощью в турагенство. Гульнара,
        выслушав все пожелания, предложила отдых в Турции, отель Justiniano Club
        Park Conti 5* в Окурджалар возле Аланьи. Мы очень благодарны ей за
        предложенный вариант!!!! Отдых получился отличный! Отель с большой
        ухоженной территорией, внимательный обслуживающий персонал. Отличный
        номер с видом на море. Очень долго подбирали разные варианты для того,
        чтобы отпраздновать свой юбилейный День рождения в путешествии и не
        могли определиться... Решили обратиться за помощью в турагенство.
        Гульнара, выслушав все пожелания, предложила отдых в Турции, отель
        Justiniano Club Park Conti 5* в Окурджалар возле Аланьи. Мы очень
        благодарны ей за предложенный вариант!!!! Отдых получился отличный!
        Отель с большой ухоженной территорией, внимательный обслуживающий
        персонал. Отличный номер с видом на море.
      </p>
    </div>
  </div>
</section>
