<div class="backdrop" id="mobile-menu">
  <div class="modal-container">
    <div class="header-logo">
      <img src="./img/logo.png" alt="logo" width="92" />
    </div>
    <button class="modal-btn-close" type="button" id="mobile-close-btn">
      <svg class="btn-close" width="32" height="32">
        <use href="./img/svg/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
  </div>

  <div class="modal-menu">
    <ul class="modal-menu-container">
      <li class="modal-menu-team"><a href="#">Главная</a></li>
      <li class="modal-menu-team active-arrow"><a href="#">Туры </a></li>
      <li class="modal-menu-team"><a href="#">Страны</a></li>
      <li class="modal-menu-team active-arrow"><a href="#">Услуги </a></li>
      <li class="modal-menu-team"><a href="#">О компании</a></li>
      <li class="modal-menu-team"><a href="#">Контакты</a></li>
    </ul>

    <div class="modal-info">
      <ul class="modal-contact">
        <li>
          <p>г. Харьков, ул. Мироносицкая 10а</p>
        </li>
        <li>
          <p>
            <span class="modal-number">+38 (099) 990-81-00</span> (viber,
            telegram)
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
