<section class="tour">
  <!-- <div class="tour-subtitle">
    <p><a href="#">Горящие туры</a></p>
    <p><a href="#">Популярные туры</a></p>
  </div>
  <div class="tour-carousel">
    <div class="tour-card">
      <div class="tour-image">
        <img src="https://via.placeholder.com/150" alt="Cyrene Sharm Hotel" />
      </div>
      <div class="tour-details">
        <h2>8 марта в Cyrene Sharm hotel</h2>
        <p class="dates">(12.03.2018 — 19.03.2018)</p>
        <p>Перелёт, питание по системе all inclusive, трансфер</p>
        <div class="tour-price">
          <span>1 259 грн</span>
          <p class="per-person">/ за 1 человека</p>
        </div>
      </div>
      <div class="tour-arrow">
        <span>&#10140;</span>
      </div>
    </div>

    <div class="tour-card">
      <div class="tour-image">
        <img src="https://via.placeholder.com/150" alt="Cyrene Sharm Hotel" />
      </div>
      <div class="tour-details">
        <h2>8 марта в Cyrene Sharm hotel</h2>
        <p class="dates">(12.03.2018 — 19.03.2018)</p>
        <p>Перелёт, питание по системе all inclusive, трансфер</p>
        <div class="tour-price">
          <span>1 259 грн</span>
          <p class="per-person">/ за 1 человека</p>
        </div>
      </div>
      <div class="tour-arrow">
        <span>&#10140;</span>
      </div>
    </div>

    <div class="tour-card">
      <div class="tour-image">
        <img src="https://via.placeholder.com/150" alt="Cyrene Sharm Hotel" />
      </div>
      <div class="tour-details">
        <h2>8 марта в Cyrene Sharm hotel</h2>
        <p class="dates">(12.03.2018 — 19.03.2018)</p>
        <p>Перелёт, питание по системе all inclusive, трансфер</p>
        <div class="tour-price">
          <span>1 259 грн</span>
          <p class="per-person">/ за 1 человека</p>
        </div>
      </div>
      <div class="tour-arrow">
        <span>&#10140;</span>
      </div>
    </div>
  </div> -->
  <div class="container">
    <div class="tours-header">
      <span class="hot-tours active">Горящие туры</span>
      <span class="popular-tours">Популярные туры</span>
    </div>
    <div class="tours-container">
      <div class="tour-card">
        <div class="tour-image">
          <img
            srcset="
              ./img/beach.jpg    288w,
              ./img/beach@2x.jpg 576w,
              ./img/beach.jpg    356w,
              ./img/beach@2x.jpg 712w,
              ./img/beach.jpg    360w,
              ./img/beach@2x.jpg 720w
            "
            sizes="(min-width: 1280px) 360px, (min-width: 768px) 356px, (max-width: 767px) 288px "
            src="./img/beach.jpg"
            alt="Cyrene Sharm Hotel"
          />
        </div>

        <div class="tour-details">
          <h2>8 марта в Cyrene Sharm hotel</h2>
          <p class="dates">(12.03.2018 — 19.03.2018)</p>
          <p>Перелёт, питание по системе all inclusive, трансфер</p>
          <div class="tour-price">
            <span>1 259 грн</span>
            <p class="per-person">/ за 1 человека</p>
          </div>
        </div>
        <div class="tour-arrow">
          <span>
            <svg class="tour-arrow-svg" width="30" height="30">
              <use href="./img/svg/symbol-defs.svg#icon-arrow"></use>
            </svg>
          </span>
        </div>
      </div>

      <div class="tour-card">
        <div class="tour-image">
          <img
            srcset="
              ./img/sea.jpg    288w,
              ./img/sea@2x.jpg 576w,
              ./img/sea.jpg    356w,
              ./img/sea@2x.jpg 712w,
              ./img/sea.jpg    360w,
              ./img/sea@2x.jpg 720w
            "
            sizes="(min-width: 1280px) 360px, (min-width: 768px) 356px, (max-width: 767px) 288px "
            src="../img/sea.jpg"
            alt="Cyrene Sharm Hotel"
          />
        </div>
        <div class="tour-details">
          <h2>8 марта в Cyrene Sharm hotel</h2>
          <p class="dates">(12.03.2018 — 19.03.2018)</p>
          <p>Перелёт, питание по системе all inclusive, трансфер</p>
          <div class="tour-price">
            <span>1 259 грн</span>
            <p class="per-person">/ за 1 человека</p>
          </div>
        </div>
        <div class="tour-arrow">
          <span>
            <svg class="tour-arrow-svg" width="30" height="30">
              <use href="./img/svg/symbol-defs.svg#icon-arrow"></use>
            </svg>
          </span>
        </div>
      </div>

      <div class="tour-card">
        <div class="tour-image">
          <img
            srcset="
              ./img/beach.jpg    288w,
              ./img/beach@2x.jpg 576w,
              ./img/beach.jpg    356w,
              ./img/beach@2x.jpg 712w,
              ./img/beach.jpg    360w,
              ./img/beach@2x.jpg 720w
            "
            sizes="(min-width: 1280px) 360px, (min-width: 768px) 356px, (max-width: 767px) 288px "
            src="../img/beach.jpg"
            alt="Cyrene Sharm Hotel"
          />
        </div>
        <div class="tour-details">
          <h2>8 марта в Cyrene Sharm hotel</h2>
          <p class="dates">(12.03.2018 — 19.03.2018)</p>
          <p>Перелёт, питание по системе all inclusive, трансфер</p>
          <div class="tour-price">
            <span>1 259 грн</span>
            <p class="per-person">/ за 1 человека</p>
          </div>
        </div>
        <div class="tour-arrow">
          <span>
            <svg class="tour-arrow-svg" width="30" height="30">
              <use href="./img/svg/symbol-defs.svg#icon-arrow"></use>
            </svg>
          </span>
        </div>
      </div>

      <div class="tour-card">
        <div class="tour-image">
          <img
            srcset="
              ./img/sea.jpg    288w,
              ./img/sea@2x.jpg 576w,
              ./img/sea.jpg    356w,
              ./img/sea@2x.jpg 712w,
              ./img/sea.jpg    360w,
              ./img/sea@2x.jpg 720w
            "
            sizes="(min-width: 1280px) 360px, (min-width: 768px) 356px, (max-width: 767px) 288px "
            src="../img/sea.jpg"
            alt="Cyrene Sharm Hotel"
          />
        </div>
        <div class="tour-details">
          <h2>8 марта в Cyrene Sharm hotel</h2>
          <p class="dates">(12.03.2018 — 19.03.2018)</p>
          <p>Перелёт, питание по системе all inclusive, трансфер</p>
          <div class="tour-price">
            <span>1 259 грн</span>
            <p class="per-person">/ за 1 человека</p>
          </div>
        </div>
        <div class="tour-arrow">
          <span>
            <svg class="tour-arrow-svg" width="30" height="30">
              <use href="./img/svg/symbol-defs.svg#icon-arrow"></use>
            </svg>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
