<section class="tour">
  <div class="container">
    <div class="tours-header">
      <span class="hot-tours active">Горящие туры</span>
      <span class="popular-tours">Популярные туры</span>
    </div>
    <div class="swiper mySwiper">
      <ul class="tours-container swiper-wrapper">
        <li class="tour-card swiper-slide">
          <div class="tour-image">
            <img
              srcset="
                ./img/beach.jpg    288w,
                ./img/beach@2x.jpg 576w,
                ./img/beach.jpg    356w,
                ./img/beach@2x.jpg 712w,
                ./img/beach.jpg    360w,
                ./img/beach@2x.jpg 720w
              "
              sizes="(min-width: 1280px) 360px, (min-width: 768px) 356px, (max-width: 767px) 288px "
              src="./img/beach.jpg"
              alt="Cyrene Sharm Hotel"
            />
          </div>

          <div class="tour-details">
            <h2>8 марта в Cyrene Sharm hotel</h2>
            <p class="dates">(12.03.2018 — 19.03.2018)</p>
            <p>Перелёт, питание по системе all inclusive, трансфер</p>
            <div class="tour-price">
              <span>1 259 грн</span>
              <p class="per-person">/ за 1 человека</p>
            </div>
          </div>
          <div class="tour-arrow">
            <span>
              <svg class="tour-arrow-svg" width="30" height="30">
                <use href="./img/svg/symbol-defs.svg#icon-arrow"></use>
              </svg>
            </span>
          </div>
        </li>

        <li class="tour-card swiper-slide">
          <div class="tour-image">
            <img
              srcset="
                ./img/sea.jpg    288w,
                ./img/sea@2x.jpg 576w,
                ./img/sea.jpg    356w,
                ./img/sea@2x.jpg 712w,
                ./img/sea.jpg    360w,
                ./img/sea@2x.jpg 720w
              "
              sizes="(min-width: 1280px) 360px, (min-width: 768px) 356px, (max-width: 767px) 288px "
              src="../img/sea.jpg"
              alt="Cyrene Sharm Hotel"
            />
          </div>
          <div class="tour-details">
            <h2>8 марта в Cyrene Sharm hotel</h2>
            <p class="dates">(12.03.2018 — 19.03.2018)</p>
            <p>Перелёт, питание по системе all inclusive, трансфер</p>
            <div class="tour-price">
              <span>1 259 грн</span>
              <p class="per-person">/ за 1 человека</p>
            </div>
          </div>
          <div class="tour-arrow">
            <span>
              <svg class="tour-arrow-svg" width="30" height="30">
                <use href="./img/svg/symbol-defs.svg#icon-arrow"></use>
              </svg>
            </span>
          </div>
        </li>

        <li class="tour-card swiper-slide">
          <div class="tour-image">
            <img
              srcset="
                ./img/beach.jpg    288w,
                ./img/beach@2x.jpg 576w,
                ./img/beach.jpg    356w,
                ./img/beach@2x.jpg 712w,
                ./img/beach.jpg    360w,
                ./img/beach@2x.jpg 720w
              "
              sizes="(min-width: 1280px) 360px, (min-width: 768px) 356px, (max-width: 767px) 288px "
              src="../img/beach.jpg"
              alt="Cyrene Sharm Hotel"
            />
          </div>
          <div class="tour-details">
            <h2>8 марта в Cyrene Sharm hotel</h2>
            <p class="dates">(12.03.2018 — 19.03.2018)</p>
            <p>Перелёт, питание по системе all inclusive, трансфер</p>
            <div class="tour-price">
              <span>1 259 грн</span>
              <p class="per-person">/ за 1 человека</p>
            </div>
          </div>
          <div class="tour-arrow">
            <span>
              <svg class="tour-arrow-svg" width="30" height="30">
                <use href="./img/svg/symbol-defs.svg#icon-arrow"></use>
              </svg>
            </span>
          </div>
        </li>

        <li class="tour-card swiper-slide">
          <div class="tour-image">
            <img
              srcset="
                ./img/sea.jpg    288w,
                ./img/sea@2x.jpg 576w,
                ./img/sea.jpg    356w,
                ./img/sea@2x.jpg 712w,
                ./img/sea.jpg    360w,
                ./img/sea@2x.jpg 720w
              "
              sizes="(min-width: 1280px) 360px, (min-width: 768px) 356px, (max-width: 767px) 288px "
              src="../img/sea.jpg"
              alt="Cyrene Sharm Hotel"
            />
          </div>
          <div class="tour-details">
            <h2>8 марта в Cyrene Sharm hotel</h2>
            <p class="dates">(12.03.2018 — 19.03.2018)</p>
            <p>Перелёт, питание по системе all inclusive, трансфер</p>
            <div class="tour-price">
              <span>1 259 грн</span>
              <p class="per-person">/ за 1 человека</p>
            </div>
          </div>
          <div class="tour-arrow">
            <span>
              <svg class="tour-arrow-svg" width="30" height="30">
                <use href="./img/svg/symbol-defs.svg#icon-arrow"></use>
              </svg>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</section>
