.tour {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 72px 0;
  position: relative;
}

.active {
  color: #fbd341;
}

.tours-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 32px;
  font-size: 1.2em;
}

.tours-header span {
  cursor: pointer;
}

.hot-tours {
  font-size: 20px;
  font-weight: 700;
}

.popular-tours {
  font-size: 20px;
  font-weight: 700;
}

.tours-container {
  display: flex;
  /* justify-content: space-between; */
}

.tour-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 10px;
  flex: 1 1 30%;
  display: flex;

  padding: 10px;
  flex-direction: column;
}

.tour-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.tour-details {
  padding: 15px;
  flex-grow: 1;
}

.tour-details h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.tour-details .dates {
  padding: 10px;
  color: #888;
  font-size: 14px;
  border-bottom: 1px solid rgba(82, 78, 78, 0.1);
  margin-bottom: 20px;
}

.tour-price {
  display: flex;
  justify-content: start;
  margin-top: 10px;
}

.tour-price span {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}

.tour-price .per-person {
  margin-left: 5px;
  color: #888;
  font-size: 10px;
}

.tour-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbd341;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  align-self: flex-end;
  transition: transform 0.3s ease-in-out;
}

.tour-arrow:hover {
  transform: scale(1.1);
}

.tour-arrow span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.swiper {
  display: flex;
  /* min-width: 0; */
}

.swiper-slide {
  display: flex !important;
}

@media (max-width: 320px) {
  .tours-section {
    padding: 10px;
  }

  .tour-details h2 {
    font-size: 16px;
  }

  .tour-price span {
    font-size: 18px;
  }

  .tour-arrow {
    width: 30px;
    height: 30px;
  }

  .tour-arrow span {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .tour {
    max-width: 768px;
  }

  .tours-header {
    flex-direction: column;
    align-items: center;
  }

  .tour-card {
    flex: 1 1 45%;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .tour {
    max-width: 900px;
    margin: 0 auto;
  }

  .tours-container {
    gap: 40px;
  }

  .tour-card {
    flex: 1 1 43%;
    margin: 10px 10px;
  }
}

@media (min-width: 1280px) {
  .tours-container {
    gap: 70px;
  }

  .tour-card {
    display: flex;
    flex-direction: row;
    /* margin: 10px 55px; */
    flex: 1 1 43%;
  }
}
